/*-------------------标题样式-------------------*/

h1{
    color: white;
	margin-left: 90%;
}

p1{
    color:white;
	margin-left: 90%;
}


/*-------------------背景样式-------------------*/


body {
	background: linear-gradient(-45deg, #330832, #000000, #152275, #000000);
	background-size:400% 1600%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}



@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/*-------------------导航栏样式-------------------*/


.top-bar {
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
}
.box-top {
    width: 100%;
    min-width: 1350px;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    /*border-bottom-left-radius: 8px;*/
    /*border-bottom-right-radius: 8px;*/
}

.top-ui {
    width: 100%;
    min-width: 800px;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-ui li{
    width:10%;
    min-width: 50px;
    margin:-5px 50px 0 70px;
    float: left;
    text-align: center;
    display: block;
}
.top-ui a{
    color: white;
    text-decoration: none;
}
.top-ui a:hover{
    color: white;
}
.top-ui img{
    height: 40px;
    margin: 0;
    padding: 0;
    display: inline;
    position: relative;
    top: -10px;
}






/*-------------------星球样式-------------------*/

.cloud_out{
    position: absolute;left: 650px;top: 100px;
    z-index: 1;
}
.ball{
    position:absolute;left: 650px;
    z-index: 3;
}
.cloud_front{
    position: absolute;left: 635px;top: 115px;
    z-index: 4;
}
.cloud_back{
    position: absolute;left: 600px;top: 200px;
    z-index: 2;
}

.moon{
    position: absolute;left: 700px;
}



@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes tiny-rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(15deg);}
}

.ball{
    -webkit-transform: rotate(360deg);
    
    animation: tiny-rotation 30s linear infinite;
    animation-direction: alternate;

}

.AI{
    position: absolute;
    left: 300px;
    top: 300px;
}

.cloud_front{
    -webkit-transform: rotate(15deg);
    
    animation: tiny-rotation 10s linear infinite;
    animation-direction: alternate;
}

.cloud_back{
    -webkit-transform: rotate(360deg);
    
    animation: rotation 400s linear infinite;
}

.cloud_out{
    -webkit-transform: rotate(360deg);
    
    animation: rotation 100s linear infinite;
}

.ca{
    z-index: 5;
}

.core{
    z-index: 1;
}

.architecture{
    position: absolute;
    left: 70px;
    top: 50px;

    z-index: 2;
}


/*-------------------信息栏样式-------------------*/

.ball_info{

    position: absolute;
    
    top: 800px;
    
    left: 900px;

    background: white;

    width:30px;

    height:30px;

    border-radius:  50%;

}

h7{
    position: absolute;
    left:50px;
    top: 0px;
    font-size: 20px;
    color:white;
    white-space:nowrap;
}

.info{

    background: white;

    width:0px;

    height:300px;

    border:2px solid white;

    border-radius:30px;

    line-height: 200px;

    position:absolute;left: 1100px;top: 350px;

}

@-webkit-keyframes show{
    from {width:0px;}
    to {width:700px;}
}

@-webkit-keyframes close{
    from {width:700px;}
    to {width:0px;}
}

.info{

    animation: show 1s linear;

    animation-play-state:paused;

    animation-fill-mode:forwards;

}

.info_img{
    position: absolute;
    top: 40px;
    left: 180px;
}

@-webkit-keyframes fade_in{
    from {opacity: 0;}
    to {opacity: 1.0;}
}

@-webkit-keyframes fade_out{
    from {opacity: 1.0;}
    to {opacity: 0;}
}




/*-----------------音乐---------------------*/
.music{
    position: absolute;
    left: 20px;
    top: 900px;
}

.music_img{

    position: absolute;
    left: 0px;
    top: 0px;

    -webkit-transform: rotate(360deg);   
    animation: rotation 10s linear infinite;

    animation-play-state: paused;

}

p2{
    position: absolute;
    top: 15px;
    left: 65px;
    color: white;
    white-space:nowrap;
}

.music_state{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}



/*-----------------数据-----------------*/
.statistic{
    position: absolute;
    left:30px;
    top: 100px;
}

h2{
    position: absolute;
    left:55px;
    top: 0px;
    font-size: 20px;
    color:white;
    white-space:nowrap;
}

h3{
    position: absolute;
    left:55px;
    top: 50px;
    font-size: 20px;
    color:white;
    white-space:nowrap;
}

h4{
    position: absolute;
    left:55px;
    top: 100px;
    font-size: 20px;
    color:white;
    white-space:nowrap;
}

.resource{
    position: absolute;
    left: 0px;
    top: 55px;
}

.tecnology{
    position: absolute;
    left: 0px;
    top: 110px;
}

.reset_icon{
    position: absolute;
    left: 0px;
    top: 200px;
    
    -webkit-transform: rotate(360deg);   
    animation: rotation 2s linear infinite;
    animation-play-state: paused;

}

h5{
    position: absolute;
    left:35px;
    top: 163px;
    font-size: 20px;
    color:white;
    white-space:nowrap;
}




/*-----------------商店-----------------*/
.shop{
    position: absolute;
    left: 1750px;
    top: 300px;

    background: white;

    width:100px;

    height:300px;

    border:2px solid white;

    border-radius:30px;

    line-height: 200px;

    opacity: 0.5;
}

.lab{
    position: absolute;
    left: 25px;
    top: 20px;
    z-index: 2;
}

.rocket_pla{
    position: absolute;
    left: 25px;
    top: 75px;
    z-index: 2;
}

.high_tec{
    position: absolute;
    left: 25px;
    top: 155px;
    z-index: 2;
}

.ai{
    position: absolute;
    left: 25px;
    top: 235px;
    z-index: 2;
}

h6{
    position: absolute;
    left: 10px;
    top: -170px;
    font-size: 20px;
    color: white;
}


@-webkit-keyframes shop_show{
    from {width:0px;}
    to {width:250px;}
}

@-webkit-keyframes shop_close{
    from {width:250px;}
    to {width:0px;}
}

@-webkit-keyframes click{
    from {background: white;}
    to {background: aquamarine;}
}

@-webkit-keyframes click_out{
    from {background: aquamarine;}
    to {backgroundr: white;}
}

.lab_buy{
    position: absolute;
    
    right: 50px;
    
    top: 7px;
    
    z-index: 1;

    background: white;

    width:0px;

    height:50px;

    border:2px solid white;

    border-radius:30px;

    line-height: 200px;

    animation: shop_show 1s linear;

    animation-play-state:paused;

    animation-fill-mode:forwards;

    white-space:nowrap;
}

.rocket_buy{
    position: absolute;
    
    right: 50px;
    
    top: 77px;
    
    z-index: 1;

    background: white;

    width:0px;

    height:50px;

    border:2px solid white;

    border-radius:30px;

    line-height: 200px;

    animation: shop_show 1s linear;

    animation-play-state:paused;

    animation-fill-mode:forwards;

    white-space:nowrap;
}

.high_buy{
    position: absolute;
    
    right: 50px;
    
    top: 157px;
    
    z-index: 1;

    background: white;

    width:0px;

    height:50px;

    border:2px solid white;

    border-radius:30px;

    line-height: 200px;

    animation: shop_show 1s linear;

    animation-play-state:paused;

    animation-fill-mode:forwards;

    white-space:nowrap;
}

.ai_buy{
    position: absolute;
    
    right: 50px;
    
    top: 237px;
    
    z-index: 1;

    background: white;

    width:0px;

    height:50px;

    border:2px solid white;

    border-radius:30px;

    line-height: 200px;

    animation: shop_show 1s linear;

    animation-play-state:paused;

    animation-fill-mode:forwards;

    white-space:nowrap;
}

h8{
    position: relative;
    
    right: -50px;
    
    top: -75px;

    color: #000000;

    font-size: 10px;

    z-index: 2;
}

h9{
    
    position: relative;
    
    right: -50px;
    
    top: -75px;

    color: #000000;

    font-size: 10px;

    z-index: 2;
}

h10{
    
    position: relative;
    
    right: -50px;
    
    top: -75px;

    color: #000000;

    font-size: 10px;

    z-index: 2;;
}

h11{
    
    position: relative;
    
    right: -50px;
    
    top: -75px;

    color: #000000;

    font-size: 10px;

    z-index: 2;;
}